body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #f4f4f4;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
}

#input-form {
    margin-bottom: 20px;
}

#results {
    margin-top: 20px;
}

#calendar-container {
    margin-top: 20px;
}

#calendar-days {
    list-style-type: none;
    padding: 0;
}

#calendar-days li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    cursor: pointer;
}

#calendar-days li.active {
    background-color: #FFA500;
    color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8c00;
}

#show-calendar-btn {
    font-size: 24px; /* Adjust size as needed */
}
