body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    display: flex;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column {
    margin: 0 10px;
}

h2 {
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

span {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.result-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.result-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.plus-button {
    background-color: #28a745;
}

.plus-button:hover {
    background-color: #218838;
}

.result-details-box {
    display: none;
    margin-top: 10px;
}

.dropdown {
    display: none;
    margin-top: 10px;
}

.dropdown-input {
    display: flex;
    justify-content: space-between;
}

.dropdown-input input {
    flex: 1;
    margin-right: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
