body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#4CAF50, #63B967, #FFFFFF);
    margin: 0;
    color: white; /* Changed font color to white */
}

.container {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #808080; /* Changed container background to gray */
    border: none; /* Removed border */
}

.column {
    margin: 0 10px;
}

h2 {
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

span {
    display: block;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #808080;
}

.result-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.result-item {
    background: #808080;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.plus-button {
    background-color: #FFA500;
}

.plus-button:hover {
    background-color: #FFA500;
}

.result-details-box {
    display: none;
    margin-top: 10px;
}

.dropdown {
    display: none;
    margin-top: 10px;
    background-color: #FFA500;
}

.dropdown-input {
    display: flex;
    justify-content: space-between;
    background-color: #FFA500;
}

.dropdown-input input {
    flex: 1;
    margin-right: 10px;
    background-color: #FFA500;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: orange;
    color: white !important;
}

@media screen and (max-width: 720px) {
    .weekdays li, .days li { width: 13.1%; }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li { width: 12.5%; }
    .days li .active { padding: 2px; }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li { width: 12.2%; }
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
    border: 1px solid #FFA500;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 0, #4caf50 75%, #FFA500 75%, #FFA500);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.circle-inner {
    background: #4caf50;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

#total-calories {
    font-size: 2em;
    margin: 0;
    color: #FFA500;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FFA500;
}

#calendar-container {
    margin-top: 20px;
}

#calendar-days {
    list-style-type: none;
    padding: 0;
}

#calendar-days li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    cursor: pointer;
}

#calendar-days li.active {
    background-color: #FFA500;
    color: white;
}

button {
    margin: 5px;
    background-color: #FFA500;
}

#toggle-calendar-btn {
    margin-top: 20px;
}

.result-title {
    font-size: 1.5em;
    margin-right: 20px;
    color: #FFA500;
}
