body {
    background-image: linear-gradient(#4CAF50, #63B967, #FFFFFF);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff; /* Ensure header text is white */
}
.meal-options {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
.meal-option {
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    text-align: center;
    color: white; /* White text */
    background-color: gray; /* Gray background for unselected */
    font-size: 20px; /* Adjust font size */
    margin: 0 10px; /* Space between options */
}
.meal-option:hover {
    background-color: #666; /* Darker gray on hover */
}
.active {
    background-color: #FFA500; /* Orange color for selected */
    color: white; /* White text for selected */
}
.meal-images {
    display: none;
    text-align: center;
    margin: 20px;
}
.meal-images img {
    width: 150px;
    height: auto;
    margin: 10px;
    display: inline-block;
    opacity: 0.5; /* Gray out images */
    transition: opacity 0.3s;
}
.meal-images img:hover {
    opacity: 1; /* Full opacity on hover */
}