.result-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.plus-button {
    background-color: orange; 
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content, .dropdown-input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content:hover {
    background-color: #f1f1f1;
}
.dropdown-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.dropdown-input input, .dropdown-input select {
    margin-bottom: 8px;
    padding: 8px;
}
.dropdown-input button {
    padding: 8px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown-input button:hover {
    background-color: orange;
}
.result-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.plus-button {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.dropdown-input input, .dropdown-input select {
    margin-bottom: 8px;
    padding: 8px;
}
.dropdown-input button {
    padding: 8px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown-input button:hover {
    background-color: orange;
}
.food-item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}
.food-item-container input, .food-item-container button {
    margin-top: 8px;
    padding: 8px;
}
.food-item-container button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.food-item-container button:hover {
    background-color: orange;
}