.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-item {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    color: white;
}

.recipe-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
}

.recipe-details {
    display: none;
    margin-top: 10px;
}

.recipe-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.recipe-meta {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ingredients-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ingredients-item label {
    flex: 1;
}

.ingredients-item input {
    width: 50px;
    margin-right: 10px;
}

.portion-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.portion-control button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
}

.portion-control button:hover {
    background-color: #0056b3;
}

.instruction {
    margin-top: 10px;
}

.edit-button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

.edit-button:hover {
    background-color: #FFA500;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow-button img {
    width: 30px;
    height: 30px;
}
