.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px; /* Space below buttons */
}

.btn-group button {
  flex: 1;
  margin: 0 10px; /* Space between buttons */
  padding: 10px;
  font-size: 16px;
}

.section {
  margin-bottom: 20px;
}
