/* styles-result.css */
body {
    background-image: linear-gradient(#4CAF50, #63B967, #FFFFFF);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #4CAF50;
    color: white;
}

h1, h2 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.result-item {
    background-color: #808080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative; /* Přidání pro vlastní tooltip */
    width: calc(45% - 20px);
    margin: 10px;
}

.result-item h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.result-item p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #FFA500 
}

.bar-container {
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.3s;
}

.result-item:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.result-item:hover::after {
    opacity: 1;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

